
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-md-5">
        <h5 class="text-information"><b>. Approval Step:</b> @approvalStep.ApprovalStep </h5>
        <hr />

     </div>
</div>
