@model Workflows.Models.Document

@{
    var counter = 1;
    var DocumentTypes = ViewBag.DocumentTypes as List<Workflows.Models.DocumentType>;
    var documentTypesJson = System.Text.Json.JsonSerializer.Serialize(DocumentTypes);
}

<form id="documentForm" asp-controller="RequisitionWizard" asp-action="CreateDocument" enctype="multipart/form-data" method="post" onsubmit="return validateFiles();">
    <div class="row">
        <div class="col-md-6">

            @foreach (var docType in DocumentTypes)
            {
                    <h5 class="text-information"><b> @(counter++).  @docType.DocumentName Document:</b>.</h5>
                    <hr />

                    <div class="form-group">
                        <label asp-for="File" class="control-label"></label><span class="requiredlabel">*</span>
                        <input type="file" id="file_@(docType.Id)" name="files" class="form-control" />
                        <span id="error_file_@(docType.Id)" class="text-danger"></span>
                    </div>
            }

        </div>
        <!-- Add the wizard buttons-->
        <partial name="_WizardBottom" />
    </div>
</form>

<script>
    function validateFiles() {
        var isValid = true;
        var documentTypes = @Html.Raw(documentTypesJson);
        var fileNames = new Set();

        documentTypes.forEach(function (docType) {
            var fileInput = document.getElementById('file_' + docType.Id);
            var errorSpan = document.getElementById('error_file_' + docType.Id);

            if (fileInput && fileInput.files.length === 0) {
                isValid = false;
                errorSpan.textContent = 'Please upload the ' + docType.DocumentName + ' document.';
            } else if (fileInput && fileInput.files.length > 0) {
                var fileName = fileInput.files[0].name;
                if (fileNames.has(fileName)) {
                    isValid = false;
                    errorSpan.textContent = 'A file with the name "' + fileName + '" has already been selected. Please choose a different file.';
                } else {
                    fileNames.add(fileName);
                    errorSpan.textContent = '';
                }
            } else {
                errorSpan.textContent = '';
            }
        });

        return isValid;
    }
</script>
