@if (!string.IsNullOrEmpty((string)ViewBag.SuccessMessage))
{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="menu-icon mdi mdi mdi-check-circle mdi-24px"></i>
        <strong>Sucess! </strong>@ViewBag.SuccessMessage.
            <button type="button" class="btn-success float-end" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="menu-icon mdi mdi mdi-check-circle mdi-24px"></i>
        <strong>Sucess! </strong>  @TempData["SuccessMessage"].
        <button type="button" class="btn-success float-end" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!string.IsNullOrEmpty((string)ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="menu-icon mdi mdi mdi-alert-circle mdi-24px"></i>
        <strong>Error! </strong>   @ViewBag.ErrorMessage.
                <button type="button" class="btn-danger float-end" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="menu-icon mdi mdi mdi-alert-circle mdi-24px"></i>
        <strong>Error! </strong>     @TempData["ErrorMessage"].
        <button type="button" class="btn-danger float-end" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
