@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("EmployeeName");
    var employeePayrollNo = HttpContextAccessor.HttpContext.Session.GetString("EmployeePayrollNo");
}
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div class="me-3">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
    </div>
    <div>
      <a class="navbar-brand brand-logo" href="">
      
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html">
       
      </a>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex ">

    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                <h2 class="welcome-text">Hi, 
                    <span class="text-black fw-bold" style="text-transform:capitalize">@employeeName </span>
                </h2>
        <h3 class="welcome-sub-text">Intern Requisition System</h3>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </li>
     
       <li class="nav-item d-none d-lg-block">
                <form asp-action="Logout" asp-controller="Login" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-link" style="display: flex; align-items: center; padding: 0; border: none; background: none; cursor: pointer;">
                        <i class="menu-icon mdi mdi-power text-primary mdi-24px" style="margin-right: 5px;"></i>
                        <span style="font-size:16px">Logout</span>
                    </button>
                    @Html.AntiForgeryToken()
                </form>
       </li>

     


    </ul>
  </div>
</nav>