
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="sidebar sidebar-offcanvas" >
  <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Home">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title" style="text-transform: uppercase;">All Requisitions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Interns">
                <i class="mdi mdi-mdi mdi-mdi mdi-account-circle menu-icon"></i>
                <span class="menu-title" style="text-transform: uppercase;">Interns</span>
            </a>
        </li>
    <li class="nav-item">
      <a class="nav-link" href="">
                <i class="mdi mdi-mdi mdi-mdi mdi-check-circle menu-icon"></i>
        <span class="menu-title" style="text-transform: uppercase;">Approvals</span>
      </a>
    </li>

    
     <li class="nav-item">
      <a class="nav-link" href="">
                <i class="menu-icon mdi mdi-information "></i>
        <span class="menu-title" style="text-transform: uppercase;">Status</span>
      </a>
    </li>

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="menu-icon mdi mdi-chart-bar "></i>
                <span class="menu-title" style="text-transform: uppercase;">Department Reports</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="menu-icon mdi mdi-account-card-details "></i>
                <span class="menu-title" style="text-transform: uppercase;">Administration</span>
            </a>
        </li>

  </ul>
</nav>
