
<hr>
<div class="d-flex justify-content-center">
    <div class="p-2">
        <button type="button" class="btn btn-outline-primary  text-white mb-0 me-0 wizardpreviousBtn">
            <i class="mdi mdi-arrow-left-bold-circle mdi-24" style="">Previous Step </i>
        </button>
    </div>
    <div class="p-2">
        <button type="submit" class="btn btn-primary g text-white mb-0 me-0 nextbutton">
            <i class="mdi mdi-arrow-right-bold-circle mdi-24" style="">Next Step </i>
        </button>
    </div>
</div>