@model Workflows.Models.Setting

@{
    ViewData["Title"] = "Edit";
}



<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input type="hidden" asp-for="Category" class="form-control" />
                @if (Model.Category != null)
                {
                    <br />
                    <h5>
                        <small class="text-muted" style="text-transform: capitalize;">
                            @Model.Category
                        </small>
                    </h5>
                }
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label"></label>
                <input type="hidden" asp-for="DepartmentCode" class="form-control" />
                @if (Model.Department != null)
                {
                    <br />
                    <h5>
                        <small class="text-muted" style="text-transform: capitalize;">
                            @Model.Department.DepartmentName
                        </small>
                    </h5>
                }
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
            
                <input type="hidden" asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit Setting" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

