@model Workflows.Models.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Requisition_id" class="control-label"></label>
                <input asp-for="Requisition_id" class="form-control" />
                <span asp-validation-for="Requisition_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern_id" class="control-label"></label>
                <input asp-for="Intern_id" class="form-control" />
                <span asp-validation-for="Intern_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentType" class="control-label"></label>
                <input asp-for="DocumentType" class="form-control" />
                <span asp-validation-for="DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileType" class="control-label"></label>
                <input asp-for="FileType" class="form-control" />
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

