@model Workflows.Models.Approval

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Approval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Requisition_id" class="control-label"></label>
                <input asp-for="Requisition_id" class="form-control" />
                <span asp-validation-for="Requisition_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label"></label>
                <input asp-for="DepartmentCode" class="form-control" />
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStep" class="control-label"></label>
                <input asp-for="ApprovalStep" class="form-control" />
                <span asp-validation-for="ApprovalStep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayrollNo" class="control-label"></label>
                <input asp-for="PayrollNo" class="form-control" />
                <span asp-validation-for="PayrollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalComment" class="control-label"></label>
                <input asp-for="ApprovalComment" class="form-control" />
                <span asp-validation-for="ApprovalComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

