@model Workflows.Models.Approval

@{
    ViewData["Title"] = "Edit";
}


<h4>Make Approval</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="ApprovalStep" class="control-label"></label>
                <input asp-for="ApprovalStep" class="form-control" readonly/>
                <span asp-validation-for="ApprovalStep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayrollNo" class="control-label"></label>
                <input asp-for="PayrollNo" class="form-control" readonly />
                <span asp-validation-for="PayrollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <select asp-for="ApprovalStatus" class="formcontrol2">
                    <option value=""> - Select a status - </option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalComment" class="control-label"></label>
                <input asp-for="ApprovalComment" class="form-control" />
                <span asp-validation-for="ApprovalComment" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

