@model Workflows.Models.Approval

@{
    ViewData["Title"] = "Edit";
    // Roles allowed to view admin functions. Add roles below to the roles Array//
    // Roles available are "Admin","HR", "Hod", "supervisor","user","2_step_mgrs","2_step_secs","FieldUser","FieldSupervisor"
    var rolesArray = new[] { "HR" };
    var roles = string.Join(",", rolesArray);
}


<h4>Edit Approval</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               
                <input type="hidden" asp-for="Requisition_id" class="form-control" readonly />
                <span asp-validation-for="Requisition_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label"></label><span class="requiredlabel">*</span>
                <input type="hidden" asp-for="DepartmentCode" class="form-control" readonly />
                @if (Model.Department != null)
                {
                    <br />
                    <h5>
                        <small class="text-muted" style="text-transform: capitalize;">
                            @Model.Department.DepartmentName
                        </small>
                    </h5>
                }
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="StepNumber" class="form-control" readonly />
                <span asp-validation-for="StepNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStep" class="control-label"></label>
                <input type="hidden" asp-for="ApprovalStep" class="form-control" readonly />
                @if (Model != null)
                {
                    <br />
                    <h5>
                        <small class="text-muted" style="text-transform: capitalize;">
                            @Model.ApprovalStep
                        </small>
                    </h5>
                }
                <span asp-validation-for="ApprovalStep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayrollNo" class="control-label"></label>
                <select asp-for="PayrollNo" class="formcontrol2" asp-items="ViewBag.Employees">
                    <option value="">   -- Select Employee --</option>
                </select>
                <span asp-validation-for="PayrollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="ApprovalStatus" class="form-control" readonly />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="ApprovalComment" class="form-control" readonly />
                <span asp-validation-for="ApprovalComment" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Change Approver" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

