@model Workflows.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
   
    <!-- Add the wizard buttons-->
  
    @await Html.PartialAsync("_DynamicTabsPartial", Model.TabViewModel)

</div>

