
/*Background color*/


/*form styles*/




/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #95989b;
}

    #progressbar li {
        list-style-type: none;
        font-size: 18px;
        width: 20%;
        float: left;
        position: relative;
        border-bottom: 5px solid #95989b;
        padding: 10px 10px 30px 10px;
    }



        #progressbar li.active {
            color: #fcb900;
            border-bottom: 5px solid #fcb900;
            text-align: center;
        }
        #progressbar li.complete {
            color: #326408;
            border-bottom: 5px solid #326408;
           
            text-align: center;
        }

   
    /*ProgressBar before any progress*/
    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }

    /*ProgressBar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
    }

    /*Color number of the step and the connector before it*/
    #progressbar li.active:before, #progressbar li.active:after {
        background: skyblue;
    }

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

    .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .radio.selected {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    }

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}
